:root {
  /* Farger */

  --light-blue: #c7fbef;
  --light-purple: #e3d8ff;
  --light-red: #f9c4c7;
  --light-brown: #fff7ef;

  --dark-black: #161312;

  /* Border-radius */

  --border-radius-main: 12px;
  --border-radius-secondary: 8px;

  /* padding */

  --padding-elements: 20px;
}

body {
  margin: 0;
}

.card-section span {
  font-family: "Space Mono", monospace;
}

.section {
  min-height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

/* Mobil */
@media (max-width: 768px) {
  .section {
    min-height: auto;
  }

  body {
    overflow-y: auto; /* sørg for at man faktisk kan bla */
  }
}

.container {
  background-color: var(--dark-black);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.design-project-container {
  color: var(--dark-black);
}

.design-project-wrapper {
  background-color: var(--light-brown);
  border: solid var(--light-red) 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border-radius: var(--border-radius-main);
}

.design-project-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.card-front-container {
  display: grid;
  gap: 20px; /* eller det du hadde før */
}

/* Desktop: 3 kolonner hvis det er plass */
@media (min-width: 1024px) {
  .card-front-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .card-front-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Mobil: 1 kolonne */
@media (max-width: 639px) {
  .card-front-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
