:root {
  /* Farger */

  --light-blue: #c7fbef;
  --light-purple: #e3d8ff;
  --light-red: #f9c4c7;
  --light-brown: #fff7ef;

  --dark-black: #161312;

  /* Border-radius */

  --border-radius-main: 12px;
  --border-radius-secondary: 8px;

  /* padding */

  --padding-elements: 20px;
}

body {
  margin: 0;
}

p, h1, h2, h3 {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}


h1,
h2,
h3,
h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

p,
span,
li,
a {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: clamp(3rem, 4vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

h3 {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
}

h4 {
  font-size: 1.4rem;
}

p,
li {
  font-size: 1.2rem;
  line-height: 1.6;
}

.design-project-text h2 {
  color: var(--light-blue);
}

.card-section span {
  font-family: "Space Mono", monospace;
}

.section {
  min-height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.design-project-section.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Mobil */
@media (max-width: 768px) {
  .section {
    min-height: auto;
  }

  body {
    overflow-y: auto; /* sørg for at man faktisk kan bla */
  }
}

.container {
  background-color: var(--dark-black);
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Projects layout  */

.design-project-container {
  color: white;
}

.design-project-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 100px;
  border-radius: var(--border-radius-main);
  border: solid var(--light-blue);
}

.design-project-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  height: 100%;
}

.projects-main-info {
  margin-right: 10vh;
}

.projects-heading-tag {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: scale(0.955);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 14px;
  height: 14px;
  background-color: var(--light-blue);
  padding: 15px 10px;
  border-radius: calc(var(--border-radius-main) - 8px);
}

.projects-heading-tag p {
  font-family: font-family: "Space Mono", monospace;
}

.design-project-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.design-project-text {
  max-width: 420px;
}

.projects-cards {
  flex: 1;
}

@media (max-width: 768px) {
  .design-project-wrapper {
    flex-direction: column;
  }

  .design-project-text {
    max-width: 100%;
  }
}

.projects-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 768px) {
  .projects-cards {
    grid-template-columns: 1fr;
  }
}

.projects-card {
  color: black;
  background-color: var(--light-brown);
  border-radius: var(--border-radius-main);
  overflow: hidden;
}

.projects-cards-text {
  padding: var(--padding-elements) var(--padding-elements) 10px var(--padding-elements);
}

.projects-cards-text h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-cards-text p,
.projects-cards-button p {
  font-size: 1rem;
  margin-top: 0px;
}

.projects-cards-button p {
  border-radius: var(--border-radius-secondary);
  text-decoration: underline;
}

.projects-cards-button {
  padding: 0px var(--padding-elements) var(--padding-elements) var(--padding-elements);
}

.projects-card-media {
  position: relative;
}

.projects-cards-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

.projects-card-header {
  position: absolute;
  top: var(--padding-elements);
  left: var(--padding-elements);
  right: var(--padding-elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.projects-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-elements) var(--padding-elements);
}

.projects-card-footer span {
  transform: rotate(180deg);
}
